@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '~@covalent/core/common/platform.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();


$primary: mat-palette($mat-orange, A200, A100, A400);       // Brown  <-- CUSTOM COLOR HERE!
$accent:  mat-palette($mat-blue, A200, A100, A400);      // Green  <-- CUSTOM COLOR HERE!


$warn:    mat-palette($mat-red); // Orange <-- CUSTOM COLOR HERE!

$theme: mat-light-theme($primary, $accent, $warn);
$theme: mat-dark-theme($primary, $accent, $warn);

//@include covalent-theme($theme);
@include angular-material-theme($theme);
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme); */


